@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

.container-fluid{
    display: flex;
    justify-content: center;
    height: 100%!important;
    width: 100%!important;
    align-items: center;
    background-color: rgb(239, 241, 243);
}

h4{
  font-family: 'Dela Gothic One';
  cursor: context-menu;
}

input[type='number']{
  outline: none;
  border-bottom: 2px inset grey!important;
  border-top: none;
  border-right:none;
  border-left: none;
  background-color: rgb(253, 255, 252);
  height: 2.5em;
  text-align: center;
}
input[type='number']:enabled{
  border-bottom: 2px inset rgb(46, 196, 182)!important;
}

.entrance{
    border: 3px solid rgb(200, 213, 185);
    background-color: rgb(230, 232, 235);
    height: 70vh;
    width: 50vw;
    border-radius: 20px;
    text-align: center;
    overflow: auto!important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.entrance .internalContent{
    height: 100%;
    padding: 0!important;
    color: rgb(53, 134, 200)!important;
   
}
mat-form-field{
  width: 100%!important;
}
.row{
  margin:0!important;
}

small{
  font-family: 'Courier New', Courier, monospace;
}

.statistics li{
  list-style-type: none;
  font-family: 'Mate SC', serif;
  font-size: 1.5em;
  line-height: 1.2em;
  margin-right: 0!important;
  
}

.statistics {
  padding-left:0!important;
  cursor: context-menu;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
 
}

label {
  color: #9a929e;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 15px;
  width: 100%;
}

#option-one:checked + label{
  color: black;
  background: #2EC4B6;
}
#option-two:checked + label{
  color: black;
  background: #FF9F1C;
}
#option-three:checked + label{
  color: black;
  background: #E71D36;
}

.radio-group {
  font-size: 1.3em;
  color:#223843 ;
  border: solid 3px #EFF1F3;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  width: 30%;
}

/*button*/
.gilaki{
  background-color: #D77A61;
  color: #223843;
  width: 40%;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.gilaki:hover{
  color: white;
  background-color: #D8B4A0;
}

@media only screen and (min-width:684px) and (max-width:789px){
  .radio-group {
    font-size: 1em!important;
  }
}

@media only screen and (min-width:448px) and (max-width:684px){
  .radio-group {
    width: 50%!important;
    font-size: 3vw!important;
  }
}

@media only screen and (min-width:100px) and (max-width:448px){
  .radio-group {
    width: 100%!important;
    font-size: 3vw!important;
  }
}

@media only screen and  (max-width: 500px){
  input[type='number']{
    width: 20vw;
  }
  .gilaki{
    width: 25vw!important;
  }
  .note, small{
    font-size: 3vw;
  }
  .statistics li{
    font-size: 4vw!important;
  }
}